cat <<EOF > .gitignore
# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
.terraform.lock.hcl

# OS files
.DS_Store
Thumbs.db
EOF

# Istio binaries and packages
istio-*/
*.tar.gz
